.content
  #search_box
    = label :from, "From:"
    %input#from.custom-offset
    = label :to, "To:"
    %input#to.custom-offset
  %ul#list
    - @events.each_with_index do |e, i|
    - row_class = i%2 == 0 ? "even" : "odd"
      %li.event{ :class => "#{row_class}" }
        %span.date= e.starts_at.strftime("%b %d, %Y")
        .event_name= link_to e.name, event_path(e)
.footer
  = will_paginate @events, :inner_window => 1, :outer_window => 1, :page_links => false