%h2 Search
= form_tag events_path, :method => 'get', :id => "search_box" do
  .cal_from
  %table
    %tr
      %td= label :keyword, "Keyword:"
      %td= text_field_tag :keyword, params[:keyword], :class => "form_field"
    %tr
      %td= label :from, "From:"
      %td= text_field_tag :from, params[:from], :class => "form_field"
    %tr
      %td= label :to, "To:"
      %td= text_field_tag :to, params[:to], :class => "form_field"
    %tr
      %td= label :group, "Category:"
      %td= select_tag "group_id", options_from_collection_for_select(@groups, :id, :group_name, params[:group_id]), :include_blank => true, :class => "form_field"
    %tr
      %td= label :results_per_page, "Results Per Page:"
      %td= select_tag "results_per_page", options_for_select(["10", "30", "100"], params[:results_per_page]), :class => "form_field"
    %tr
      %td= submit_tag "Search"
      %td= submit_tag "Reset", :class => "reset"