%h2 Search
= form_tag events_path, :method => 'get', :id => "search_box" do
  .cal_from
  %table
    %tr
      %td= label :keyword, "Keyword:"
      %td= text_field_tag :keyword, params[:keyword], :class => "form_field"
    %tr
      %td= label :from, "From:"
      %td= text_field_tag :from, params[:from], :class => "form_field"
    %tr
      %td= label :to, "To:"
      %td= text_field_tag :to, params[:to], :class => "form_field"
    %tr
      %td= label :group, "Category:"
      %td= select("group", "group_id", Group.all.collect { |g| [raw(g.group_name), g.id] }, { :include_blank => true })
    %tr
      %td= submit_tag "Search"
      %td= submit_tag "Reset", :class => "reset"