.upcoming_events_header
  %h2 Upcoming Events
- if @events.empty?
  .error No events found!
%ul#list
  = will_paginate @events, :page_links => false
  - @events.each_with_index do |e, i|
  - row_class = i%2 == 0 ? "even" : "odd"
    %li.event{ :class => "#{row_class}" }
      %span.date= e.starts_at.strftime("%B %d, %Y")
      .event_name= link_to e.name.upcase
      .event_details
        %p
          %span Where:
          = e.location
        %p
          %span Begins:
          = e.starts_at.strftime("%A %b %d, %Y %I:%M%p")
        %p
          %span Ends:
          = e.ends_at.strftime("%A %b %d, %Y %I:%M%p")
        %p.event_description= e.description.slice(0..280)+'...'
        = link_to 'More Info →', e, :class => "more_info"