.upcoming_events_header
  %h2 Upcoming Events
- if @events.empty?
  .error No events found!
%ul#list
  - @events.each_with_index do |e, i|
  - row_class = i%2 == 0 ? "even" : "odd"
    %li.event{ :class => "#{row_class}" }
      .date= e.starts_at.strftime("%b %d, %Y")
      .event_name= link_to e.name, e
      .event_details
        %p
          = e.location
        %p
          = e.starts_at.strftime("%A %b %d, %Y %I:%M%p") + " to "
          = e.ends_at.strftime("%A %b %d, %Y %I:%M%p")
        %p.event_description= e.description.slice(0..140) + "..."
        %p.event_description.hidden= e.description
        - unless e.additional_info.blank?
          %p.description!= Rinku.auto_link(e.additional_info)
  = will_paginate @events