.content
  #left
    #featured_events= render 'featured_events'
    #search_container= render 'search_form'
    .link= link_to "Submit an Event", "http://sm.ebfanclub.com/cc_subev.asp?calpwl=5A7.2FF3BF21&ccpwl=5A6.6C9A4BC4", :target => "_blank"
    .link= link_to "Join Our Email List", "http://sm.ebfanclub.com/fc_join.asp?fc=E4.4013033A", :target => "_blank"
  #events= render 'upcoming_events'
