#event_details
  %p#notice= notice
  %p
    %a.button{ :onClick=>"history.go(-1)" } &larr; Go back
  %h2.name=@event.name
  - unless @event.image_url.blank?
    = image_tag @event.image_url, :class => "event_image"
  %p
    %span Where:
    = @event.location
  %p
    %span Begins:
    = @event.starts_at.strftime("%A %b %d, %Y %I:%M%p")
  %p
    %span Ends:
    = @event.ends_at.strftime("%A %b %d, %Y %I:%M%p")
  %p.description= @event.description
  - unless @event.additional_info.blank?
    %p.description!= Rinku.auto_link(@event.additional_info)
  - unless @event.contact_name.blank?
    %p
      %span Contact:
      = @event.contact_name
    %p
      %span Email:
      = @event.contact_email
    %p
      %span Phone:
      = @event.contact_phone
  - unless @event.ticket_info.blank?
    %p
      %span Ticket Info:
      = @event.ticket_info
    %p
      %span Ticket Prices:
      = @event.ticket_prices  
  = render 'shared/facebook'
